@import 'base';

body {
  background-color: var(--page-background);
  min-height: 100vh;
}

.page {
  background: var(--page-background);
  width: 100%;
  height: 96vh;
  padding: 20px;
  cursor: url('/assets/erick.jpg'), auto;
}