
.container {
    display: flex;
   
}

.menu {
    background-color: #35353F;
    height: 98vh;
    width: 120px;
    font-size: 56px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuOptionDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    width: 100px;
    height: 80px;
    color: gray;


    border-radius: 5px;

    &:hover {

        background-color: rgb(113, 113, 113);
        color: white;
    }

    &:focus {
        background-color: rgb(113, 113, 113);
    }
}